header {
  background-color: #fbf9ed;
  color: black;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  width: 100%;
}
.logo img {
  height: 30px;
}
.cart-count {
  background-color: white !important;
  color: black; /* Μαύρο κείμενο */
  padding: 0.25em 0.6em; /* Προσθήκη ελαφριάς εσοχής γύρω από το κείμενο */
  border-radius: 50%; /* Κυκλικό σχήμα */
  font-size: 0.5rem; /* Μικρότερο μέγεθος γραμματοσειράς για το κείμενο */
  position: absolute; /* Απόλυτη τοποθέτηση για το positioning στο header */

  transform: translate(50%, -50%); /* Κεντράρισμα στην επάνω δεξιά γωνία του εικονιδίου καλαθιού */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); /* Λεπτή σκιά για διακριτικό depth */
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  flex-direction: column; /* Αλλάξτε τον κατακόρυφο προσανατολισμό */

    padding: 1rem; 
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: semi-bold;
  font-family: sans-serif;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ca9613; /* Λίγο ανοιχτότερο γκρι για hover effect */
}

.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart img {
  height: 30px;
  margin-right: 5px;
}

.cart .cart-icon {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.cart .cart-icon i {
  color: black;
  font-size: 1.2rem;
}

.cart .cart-count {
  background-color: #007bff;
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

.menu-icon {
  display: block;
  cursor: pointer;

  
}


.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; 
  height: 100vh;
  background-color: #fff; 
  overflow: auto;
 transition: all 2s ease-in-out;
  z-index: 1000;
}

nav {
  display: none; /* Αρχικά κρύβουμε το μενού για μικρές οθόνες */
  position: absolute; /* Αποθετήστε το μενού σε απόλυτη θέση */
  top: 70px; /* Καθορίστε την απόσταση από το επάνω μέρος */
  left: 0; /* Τοποθετήστε το μενού στο αριστερό άκρο της οθόνης */
  width: 100%; /* Καθορίστε το πλάτος του μενού σε πλήρη πλάτος */
  background-color: #fbf9ed; /* Βασικό χρώμα φόντου */
  z-index: 999; /* Καθορίστε ένα υψηλό z-index για να είναι πάνω από όλα τα άλλα στοιχεία */
}

nav.open {
  display: block; /* Εμφανίστε το μενού όταν είναι ανοικτό */
}


.header-icons {
  display: flex;
  align-items: center;
}

.login-icon, .cart {
  margin-left: 20px;
}

/* Στυλ για το εικονίδιο σύνδεσης (login) */
.login-icon {
  color: black; /* Χρώμα του εικονιδίου */
  font-size: 20px; /* Μέγεθος εικονιδίου */
  cursor: pointer; /* Καθορίστε τον δείκτη ως δείκτη κατάλληλο για το κλικ */
}
/* Απόκριση σε μικρές οθόνες */
@media only screen and (max-width: 600px) {
 
  header {
    padding: 1rem; 
  }

  .logo img {
    height: 20px; /* Μικρότερο μέγεθος λογότυπου για μικρές οθόνες */
  }

  .menu-icon {
    display: block; /* Εμφανίζουμε το εικονίδιο του μενού για μικρές οθόνες */
    cursor: pointer; /* Καθορίζουμε τον δείκτη ως δείκτη κατάλληλο για το κλικ */
  }

  nav {
    display: none; /* Αρχικά κρύβουμε το μενού για μικρές οθόνες */
    position: absolute; /* Αποθετήστε το μενού σε απόλυτη θέση */
    top: 70px; /* Καθορίστε την απόσταση από το επάνω μέρος */
    left: 0; /* Τοποθετήστε το μενού στο αριστερό άκρο της οθόνης */
    width: 100%; /* Καθορίστε το πλάτος του μενού σε πλήρη πλάτος */
    background-color: #fbf9ed; /* Βασικό χρώμα φόντου */
    z-index: 999; /* Καθορίστε ένα υψηλό z-index για να είναι πάνω από όλα τα άλλα στοιχεία */
  }
  .open {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; 
    height: 100vh;
    background-color: #fff; 
    overflow: auto;
    z-index: 1000;
  }

  nav.open {
    display: block; 
    width: 100%; /* Εμφανίστε το μενού όταν είναι ανοικτό */
  }

  nav ul {
    display: flex;
    flex-direction: column; /* Αλλάξτε τον κατακόρυφο προσανατολισμό */
    gap: 1rem; /* Μικρότερο διάστημα μεταξύ των στοιχείων του μενού */
    padding: 1rem; /* Προσθέστε εσωτερικό padding για καλύτερη εμφάνιση */
  }

  nav ul li {
    text-align: center; /* Κείμενο κεντρικά */
  }
}
  nav ul li a {
    font-size: 0.9rem; /* Μικρότερο μέγεθος γραμματοσειράς για μικρές οθόνες */
  }
  nav ul li button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: #333; /* Χρώμα κειμένου */
  }
  
  nav ul li button:hover {
    background-color: #f0f0f0;
    color:#ca9613 ; /* Αλλαγή χρώματος κατά το hover */
  }
  
  nav ul li button i {
    font-size: 20px;
  }

  .cart img {
    height: 25px; /* Μικρότερο μέγεθος εικονίδιου καρού για μικρές οθόνες */
  }

  .cart .cart-icon {
    width: 25px;
    height: 25px; /* Μικρότερο μέγεθος εικονίδιου καρού για μικρές οθόνες */
  }

  .cart .cart-icon i {
    font-size: 1rem; /* Μικρότερο μέγεθος εικονίδιου καρού για μικρές οθόνες */
  }

  .cart .cart-count {
    padding: 3px 8px; /* Μικρότερο padding για τον αριθμό στο καλάθι για μικρές οθόνες */
    font-size: 0.8rem; /* Μικρότερο μέγεθος γραμματοσειράς για τον αριθμό στο καλάθι για μικρές οθόνες */
  }

/* Εμφανίστε το εικονίδιο του μενού στην αριστερή άκρη του header */
.menu-icon {
  order: -1; /* Τοποθετήστε το πριν από το λογότυπο */
  margin-left: 1rem; /* Αφήστε κάποιο χώρο μεταξύ του εικονιδίου του μενού και του λογότυπου */
}

.header-icons {
  display: flex;
  align-items: center;
}

.login-icon, .cart {
  margin-left: 20px;
}

/* Στυλ για το εικονίδιο σύνδεσης (login) */
.login-icon {
  color: black; /* Χρώμα του εικονιδίου */
  font-size: 20px; /* Μέγεθος εικονιδίου */
  cursor: pointer;
  margin-top: 1px;
   /* Καθορίστε τον δείκτη ως δείκτη κατάλληλο για το κλικ */
}


