/* Καθαρισμός βασικών στυλ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Κρυφή οριζόντια κύλιση */
body {
  overflow-x: hidden;
}

/* Βασικό περιεχόμενο με περιθώρια */
main {
  padding: 5rem;
}

/* Hero section */
.hero {
  width: 60%; /* Μειώνει το πλάτος για να μην καλύπτει πολύ μεγάλο μέρος της σελίδας */
  margin-left: 20%; /* Μετατοπίζει το κείμενο προς τα δεξιά */
}

/* Τίτλος προϊόντος */
.product-title {
  margin-bottom: 4rem;
  margin-top: 7rem;
}




/* Σύνοψη προϊόντος */
.product-summary {
  margin-top: 2rem;
  background-color: #fbf9ed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 2;
}

.summary-title,
.summary-price {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.summary-text {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.summary-text::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: #333;
  margin: 20px auto;
}

.product-summary button {
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(29, 19, 8, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: sans-serif;
}

.product-summary button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(233, 227, 221, 0.5);
}

.product-summary button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(233, 227, 221, 0.3);
}


.deserve {
  margin-top: -60px; /* Αυξήστε ή μειώστε αυτήν την τιμή ανάλογα με το πόσο πάνω θέλετε να μετακινήσετε το "deserve" */
}

.stay {
  font-size: 2em;
  margin-top: 10px; /* Αυξήστε αυτήν την τιμή για να αυξήσετε το μέγεθος των γραμμάτων */
}



button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

img {
  width: 100%; /* Κάνει τις εικόνες να ταιριάζουν στο πλάτος του γονικού τους στοιχείου */
  height: auto; /* Διατηρεί τις αναλογίες της εικόνας */
  object-fit: cover; /* Καλύπτει το διαθέσιμο πλάτος και ύψος, διατηρώντας τις αναλογίες */
}

/* Ρυθμίσεις για τον container των εικόνων */
.image-container img {
  height: 300px; /* Ή οποιαδήποτε τιμή προτιμάτε */
  width: auto;
  object-fit: contain; /* Εξασφαλίζει ότι η εικόνα θα διατηρήσει τις αναλογίες της */
  margin: 0 auto; /* Κεντράρει την εικόνα στον διαθέσιμο χώρο */
}

.image-container {
  width: 100%; /* Εξασφαλίζει ότι ο container των εικόνων καλύπτει το πλάτος του παραθύρου/γονικού */
  display: flex; /* Χρήση του flex για καλύτερη διαχείριση του layout */
  justify-content: center; /* Κεντράρει τις εικόνες οριζόντια */
  align-items: center; /* Κεντράρει τις εικόνες κατακόρυφα */
  overflow: hidden; /* Κρύβει τυχόν περιεχόμενο που ξεπερνάει τα όρια του container */
}

.oils-introduction-card {
 
  background-color: #fbf9ed; /* Ή οποιοδήποτε χρώμα ταιριάζει με τον σχεδιασμό σας */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
 
  width: 100%; /* Εξασφαλίζει ότι η κάρτα προσαρμόζεται στο πλάτος του γονικού της στοιχείου */
  text-align: center; /* Κεντράρει το κείμενο μέσα στην κάρτα */
  
}

.oils-introduction-card h2 {
  margin-bottom: 1rem;
}

.oils-introduction-card p {
  margin-bottom: 1rem;
  line-height: 1.5; 
}

/* Προσθέστε εδώ περισσότερο περιεχόμενο και φωτογραφίες */

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
  }

  main {
    padding: 1rem;
  }

  .hero {
    width: 100%;
    margin-left: 0;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }

 
  .product-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    order: 2;
  }


  .product-summary {
    margin-top: 1rem;
  }

  .summary-title {
    font-size: 12px;
  }

  .summary-text {
    font-size: 15px;
  }

  .summary-price {
    font-size: 12px;
  }

  .product-summary button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .deserve {
    margin-top: -160px;
    font-size: 1.4rem;
    font-weight: 200;
    display: inline-block;
 border-bottom: 0.5px solid;
    
}

.image-container img {
  height: 150px; /* Περαιτέρω μείωση για κινητά τηλέφωνα */
}

img {
  object-fit: contain; /* Αλλαγή του object-fit για μικρότερες συσκευές για να δείχνει ολόκληρη η εικόνα */
}


  .stay {
    font-size: 2em;
    margin-top: 15px; 
    font-weight: 200; /* Αυξήστε αυτήν την τιμή για να αυξήσετε το μέγεθος των γραμμάτων */
  }

  .inside{
    font-size: 2em;
    font-weight: 200; 
    margin-top: -10px;
  }
}
