/* Καθαρισμός βασικών στυλ */
* {

  box-sizing: border-box;
}

/* Κρυφή οριζόντια κύλιση */
body, html {
  
  
  overflow-x: hidden; /* Για να αποτρέπεται η οριζόντια κύλιση */
}

main {
  padding: 0; /* Αφαιρέθηκε το padding που προστέθηκε στην αρχική σας διαμόρφωση */
}

.image-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; /* ή όποιο ύψος επιθυμείτε */
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Αν θέλετε να καλύψει ολόκληρη την περιοχή, αλλά μπορεί να περικόψει την εικόνα */
}

.hero {
  width: 60%;
  margin-left: 20%;
}
/* Τίτλος προϊόντος */
.product-title {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-align: center;
  width: 70%;
  
  border-radius: 10px;
  z-index: 2;
  opacity: 0; /* Αρχικά κρύβουμε το κείμενο */
  font-size: 3rem; /* Μεγαλύτερο μέγεθος γραμμάτων */
  transition: opacity 4s ease-in-out; /* Μετάβαση για την εμφάνιση του κειμένου */
}

.product-title.fade-in {
  opacity: 1; 
}

.product-title .animated-text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.product-title .animated-text.show {
  opacity: 1;
}


.oils-introduction-card {
 
  background-color: #fbf9ed; /* Ή οποιοδήποτε χρώμα ταιριάζει με τον σχεδιασμό σας */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
  width: 100%; /* Εξασφαλίζει ότι η κάρτα προσαρμόζεται στο πλάτος του γονικού της στοιχείου */
  text-align: center; /* Κεντράρει το κείμενο μέσα στην κάρτα */
  
}

.oils-introduction-card h2 {
  font-size: 1.5rem; /* Αυξάνει το μέγεθος της γραμματοσειράς του τίτλου */
  font-weight: bold; /* Κάνει τον τίτλο πιο έντονο */
  margin-bottom: 15px; /* Διαχωρισμός μεταξύ τίτλου και παραγράφου */
}

.oils-introduction-card p {
  font-size: 1rem; /* Ρυθμίζει το μέγεθος της γραμματοσειράς για τις παραγράφους */
  line-height: 1.6; /* Βελτιώνει την αναγνωσιμότητα αυξάνοντας την απόσταση μεταξύ των γραμμών */
  margin-bottom: 10px; /* Διαχωρισμός μεταξύ παραγράφων */
}

.OrderButton button {
  font-size: 1rem; /* Καθορίζει το μέγεθος του κειμένου */
  padding: 12px 24px; 
  margin-top: 2rem;/* Προσθέτει εσωτερικό περιθώριο για να κάνει το κουμπί μεγαλύτερο */
  background-color: black;/* Καθορίζει το χρώμα φόντου */
  color: white; /* Καθορίζει το χρώμα του κειμένου */
  border: none; /* Αφαιρεί το περίγραμμα */
  border-radius: 5px; /* Προσθέτει ελαφριά στρογγυλεμένες γωνίες */
  cursor: pointer; /* Αλλάζει τον δείκτη του ποντικιού σε δείκτη κλικ όταν είναι πάνω από το κουμπί */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Προσθέτει απαλή μετάβαση για το χρώμα και τη μετατόπιση */
}

.OrderButton button:hover {
  background-color: black; /* Σκουραίνει το χρώμα του κουμπιού όταν γίνεται hover */
  transform: translateY(-2px); /* Ανεβάζει λίγο το κουμπί για να δώσει αίσθηση διαδραστικότητας */
}

.OrderButton button:active {
  background-color: black; /* Κάνει το κουμπί ακόμη σκουρότερο όταν πατιέται */
  transform: translateY(1px); /* Επαναφέρει το κουμπί στην αρχική του θέση όταν γίνεται κλικ */
}

.image-oil-card {
 margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}


@media only screen and (max-width: 600px) {
  .hero {
    width: 100%;
    margin-left: 0;
  }

  .image-container {
    width: 100%; /* Καμία ανάγκη για 'vw' στο responsive layout */
    margin: 0; /* Βεβαιωθείτε ότι δεν υπάρχει margin */
  }

  .image-oil-card {
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px; /* Προσθήκη border-radius για στρογγυλεμένα άκρα */
    overflow: hidden; /* Αποκρύπτει το περιθώριο της εικόνας που ξεπερνά την κάρτα */
    
  }

  .image-oil-card img {
    width: 100%;
    height : 50%; /* Καθορίζει το ύψος της εικόνας στο 50% */
    object-fit: cover; /* Εφαρμογή object-fit για να διατηρήσει την αναλογία */

  }

  .OrderButton button {
    width: 40%; 
    margin-top: 1rem; /* Αύξηση του περιθωρίου για καλύτερη εμφάνιση */
    padding: 0.5rem 1rem; /* Μείωση του padding για καλύτερη εμφάνιση */
  }

  .oils-introduction-card {
    padding: 10px; /* Μείωση του padding για καλύτερη εμφάνιση */
    font-size: 14px;
  }

  .oils-introduction-card h2 {
    font-size: 1.2rem; /* Μείωση του μεγέθους της γραμματοσειράς για καλύτερη αναγνωσιμότητα */
    margin: 20px 0; /* Προσθέτει περισσότερο περιθώριο στο πάνω και κάτω μέρος */
  }
  .product-title {
    top: 5%;
    font-size: 2.5rem;
  }
 
  .deserve, .stay, .inside {
    margin-bottom: 20px !important; /* Αλλάξτε την τιμή σύμφωνα με την επιθυμητή απόσταση */
  }
  

}
