/* Καθαρισμός βασικών στυλ */
* {
  margin: 0;
  
  padding: 0;
  box-sizing: border-box;
}

/* Κρυφή οριζόντια κύλιση */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Για να αποτρέπεται η οριζόντια κύλιση */
}

main {
  padding: 0; /* Αφαιρέθηκε το padding που προστέθηκε στην αρχική σας διαμόρφωση */
}

.image-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; /* ή όποιο ύψος επιθυμείτε */
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Αν θέλετε να καλύψει ολόκληρη την περιοχή, αλλά μπορεί να περικόψει την εικόνα */
}

/* Hero section */
.hero {
  width: 60%; /* Μειώνει το πλάτος για να μην καλύπτει πολύ μεγάλο μέρος της σελίδας */
  margin-left: 20%; /* Μετατοπίζει το κείμενο προς τα δεξιά */
}



/* Τίτλος προϊόντος */
.product-title {
  margin-bottom: 4rem;
  margin-top: 7rem;
}


/* Σύνοψη προϊόντος */
.product-summary {
  margin-top: 2rem;
  background-color: #fbf9ed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 2;
}

.summary-title,
.summary-price {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.summary-text {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.summary-text::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: #333;
  margin: 20px auto;
}

.product-summary button {
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(29, 19, 8, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: sans-serif;
}

.product-summary button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(233, 227, 221, 0.5);
}

.product-summary button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(233, 227, 221, 0.3);
}


.deserve {
  margin-top: -60px; /* Αυξήστε ή μειώστε αυτήν την τιμή ανάλογα με το πόσο πάνω θέλετε να μετακινήσετε το "deserve" */
}

.stay {
  font-size: 2em;
  margin-top: 10px; /* Αυξήστε αυτήν την τιμή για να αυξήσετε το μέγεθος των γραμμάτων */
}
/* Ρυθμίσεις για τον container των εικόνων */


.oils-introduction-card {
 
  background-color: #fbf9ed; /* Ή οποιοδήποτε χρώμα ταιριάζει με τον σχεδιασμό σας */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
 
  width: 100%; /* Εξασφαλίζει ότι η κάρτα προσαρμόζεται στο πλάτος του γονικού της στοιχείου */
  text-align: center; /* Κεντράρει το κείμενο μέσα στην κάρτα */
  
}

.oils-introduction-card h2 {
  margin-bottom: 1rem;
}

.oils-introduction-card p {
  margin-bottom: 1rem;
  line-height: 1.5; 
}

.OrderButton button {
  font-size: 1rem; /* Καθορίζει το μέγεθος του κειμένου */
  padding: 12px 24px; 
  margin-top: 2rem;/* Προσθέτει εσωτερικό περιθώριο για να κάνει το κουμπί μεγαλύτερο */
  background-color: black;/* Καθορίζει το χρώμα φόντου */
  color: white; /* Καθορίζει το χρώμα του κειμένου */
  border: none; /* Αφαιρεί το περίγραμμα */
  border-radius: 5px; /* Προσθέτει ελαφριά στρογγυλεμένες γωνίες */
  cursor: pointer; /* Αλλάζει τον δείκτη του ποντικιού σε δείκτη κλικ όταν είναι πάνω από το κουμπί */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Προσθέτει απαλή μετάβαση για το χρώμα και τη μετατόπιση */
}

.OrderButton button:hover {
  background-color: black; /* Σκουραίνει το χρώμα του κουμπιού όταν γίνεται hover */
  transform: translateY(-2px); /* Ανεβάζει λίγο το κουμπί για να δώσει αίσθηση διαδραστικότητας */
}

.OrderButton button:active {
  background-color: black; /* Κάνει το κουμπί ακόμη σκουρότερο όταν πατιέται */
  transform: translateY(1px); /* Επαναφέρει το κουμπί στην αρχική του θέση όταν γίνεται κλικ */
}

@media only screen and (max-width: 600px) {
  main {
    /* padding: 1rem; */
    width: 500px; /* Μπορεί να χρειαστεί να μειώσετε το padding αν δημιουργεί περιθώρια */
  }

  .hero {
    width: 100%; /* Αυτό θα πρέπει να είναι ήδη σωστό, αλλά ελέγξτε το */
  }

  .image-container {
    width: 100%; /* Καμία ανάγκη για 'vw' στο responsive layout */
    margin: 0; /* Βεβαιωθείτε ότι δεν υπάρχει margin */
  }

  img {
    max-width: 100%;
    height: auto; /* Αυτό εξασφαλίζει ότι η εικόνα δεν περιορίζεται στα 150px σε μικρές συσκευές */
    object-fit: cover;
  }

  .hero {
    width: 100%;
    margin-left: 0;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }

 
  .product-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    order: 2;
  }


  .product-summary {
    margin-top: 1rem;
  }

  .summary-title {
    font-size: 12px;
  }

  .summary-text {
    font-size: 15px;
  }

  .summary-price {
    font-size: 12px;
  }

  .product-summary button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .deserve {
    margin-top: -160px;
    font-size: 1.4rem;
    font-weight: 200;
    display: inline-block;
 border-bottom: 0.5px solid;
    
}

.OrderButton button { 
  margin-top: 1rem; /* Αύξηση του περιθωρίου για καλύτερη εμφάνιση */
  padding: 0.5rem 1rem; /* Μείωση του padding για καλύτερη εμφάνιση */
  width: 50%; /* Καθορίζει το πλάτος του κουμπιού */
}


  .stay {
    font-size: 2em;
    margin-top: 15px; 
    font-weight: 200; /* Αυξήστε αυτήν την τιμή για να αυξήσετε το μέγεθος των γραμμάτων */
  }

  .inside{
    font-size: 2em;
    font-weight: 200; 
    margin-top: -10px;
  }
}
