.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  flex-direction: column;

}

.product-carousel, .how-to-use-container {
  grid-column: 1;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  
  height: 50%;
  width: 70%;
  margin-top: 10%;
}

.product-details h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 4%;
}
.product-carousel {
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 20px; /* Αυξήστε το radius για πιο στρογγυλεμένες γωνίες */
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2); /* Μεγαλύτερη και πιο απαλή σκίαση για βάθος */
  border: 1px solid #ddd; /* Προσθήκη λεπτής γραμμής για διακριτική περίγραμμα */
}
.product-carousel img {
  width: 100%;
 
  object-fit: cover;
  transition: transform 0.5s ease; /* Προσθήκη απαλής μετάβασης για το zoom */
}

.product-carousel img:hover {
  transform: scale(1.05); /* Ελαφρύ zoom κατά τη διάρκεια του hover */
}
.carousel .thumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; /* Κεντραρισμός των thumbnails */
}

.carousel .thumb {
  margin: 5px;
  border: 2px solid #ddd; /* Διακριτικό περίγραμμα για κάθε thumbnail */
  border-radius: 10px; /* Στρογγυλεμένες γωνίες */
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  
  transform: scale(1.1); /* Ελαφρύ zoom */
}
.how-to-use-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 10%;
  margin-left: 20%;
  width: 1300px;
  height: 80%;
  

}

.how-to-use-content {
  flex: 1;
  margin-right: 20px;
  
}

.image-container {
  flex: 1;
  display: flex;
}

.image-container img {
  max-width: 100%;
  height: 80%;
  margin-left: 10%;
}

.usage-steps {
  list-style-type: none;
  padding: 0;
}

.card {
  grid-row: 3; 
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%; 
  margin-top: -40px;
}

.card-content {
  padding: 30px;
  
}

/* Στυλ για κάθε tab */
.react-tabs__tab {
  padding: 10px 20px;
  background:#fbf9ed;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
.tabsbtn .react-tabs__tab {
  margin-right: 60px;
  margin-top:5%;
}

.react-tabs__tab--selected {
  background: #007BFF !important; 
  color: #fff !important; 
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
/* Στυλ για το περιεχόμενο κάθε tab */
.react-tabs__tab-panel {
  padding: 20px;
  background: #fff;
  
  border-radius: 5px;
}

.tabsbtn1 .react-tabs__tab {
  margin-right: 50px;
}


.oils-introduction-card{
  margin-right: 20%;
}




@media (max-width: 768px) {
  .product-container {
    grid-template-columns: 1fr;
  }

  .product-carousel, .how-to-use-container {
    margin: 0;
    width: 100%;
  }
.carousel-root {
  width: 100%;
  margin-top: 5%;
}

  .product-details {
    width: 100%;
    margin-top: 8%;
  }

  .product-details h1 {
    font-size: 1.5em;
  }

  .product-description {
    font-size: 0.8em;
    margin-left: 2%;
  }

  .product-price {
    font-size: 1.2em;
  }

  .add-to-cart-button {
    padding: 8px 16px;
  }

  .how-to-use-container {
    flex-direction: row; /* Αλλαγή από column σε row */
    flex: 1;
    padding: 10px;
    margin-left: 0;
    width: 100%; /* Αλλαγή από 50% σε 100% */
   height: auto;
   display: block;
  }

  .how-to-use-content, .image-container {
    flex: 1;
    width: 100%;
  }

  .image-container img {
    margin-left: 0;
  }

  .card {
    margin-left: 0;
    width: 100%;
    margin-bottom: 5px;
  }

  .how-to-use-container {
    display: block;
  }

}

