.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  flex-direction: column;

}

.product-carousel, .how-to-use-container {
  grid-column: 1;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  
  height: 50%;
  width: 70%;
  margin-top: 10%;
}

.product-details h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 4%;
}

.product-price {
  font-size: 1.5em;
  color: black;
  margin-bottom: 20px;
}

.add-to-cart-button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.add-to-cart-button:hover {
  background-color: grey;
}

.product-carousel {
  width: 60%; /* Ρυθμίστε το ποσοστό σύμφωνα με τις ανάγκες σας */
  margin-right: 5%;
  margin-top: 5%;
  margin-left: 10%; 
  height: 20%;/* Ρυθμίστε την απόσταση από το δεξί σύμφωνα με τις ανάγκες σας */
}
.carousel .slide {
  background: none;
  border: none;
 
}

.carousel .thumb {
  border: none;
}

.carousel .control-arrow {
  filter: invert(100%);
}

.how-to-use-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 5%;
  margin-left: 20%;
  width: 1300px;
  height: 70%;
  

}

.how-to-use-content {
  flex: 1;
  margin-right: 20px;
  
}

.image-container {
  flex: 1;
  display: flex;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-left: 20%;
}

.usage-steps {
  list-style-type: none;
  padding: 0;
}

.card {
  grid-row: 3; 
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%; 
  margin-top: -40px;
}

.card-content {
  padding: 30px;
}


@media (max-width: 768px) {
  .product-container {
    grid-template-columns: 1fr;
  }

  .product-carousel, .how-to-use-container {
    margin: 0;
    width: 100%;
  }

  .product-details {
    width: 100%;
    margin-top: 5%;
  }

  .product-details h1 {
    font-size: 1.5em;
  }

  .product-description {
    font-size: 0.8em;
    margin-left: 2%;
  }

  .product-price {
    font-size: 1.2em;
  }

  .add-to-cart-button {
    padding: 8px 16px;
  }

  .how-to-use-container {
    flex-direction: row; /* Αλλαγή από column σε row */
    flex: 1;
    padding: 10px;
    margin-left: 0;
    width: 100%; /* Αλλαγή από 50% σε 100% */
   height: auto;
  }

  .how-to-use-content, .image-container {
    flex: 1;
  }

  .image-container img {
    margin-left: 0;
  }

  .card {
    margin-left: 0;
    width: 100%;
    margin-bottom: 5px;
  }
}
