.product-container {
  max-width: 1200px;
  margin: 20px auto;

}
.product-container .carousel img {
  width: 100%;
  height: 800px;
  object-fit: cover;  
  object-position: center; 

}

.product-container .carousel .control-dots .dot {
  background: #fff;
  border: 2px solid #333;
}

.product-carousel, .how-to-use-container {
  grid-column: 1;
}

.product-description{
  align-items: center;
  text-align: center;
}

.read-more-button{
  background-color: #fbf9ed ;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: -10px;
 font-weight:bold;
}

.read-more-button:hover {
  color: #333 !important; /* Darker blue when hovered */
  text-decoration: underline;
}

.product-details h1,
.product-details h3,
.product-details 
 {
  text-align: left; /* Αριστερή στοίχιση, διαθέσιμες επιλογές: left, right, center, justify */

}
.product-description{
  text-align: left;

}

.product-price{
  font-size: 1.2em;
  margin-left: 45%;
  
  margin-top: 1%;
  margin-bottom: 0.5%;
}
.add-to-cart-button{
  background-color: black;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 40%;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.add-to-cart-button:hover {
  background-color: rgba(31, 30, 30, 0.284) !important; 
}


.product-details {
  width: 100%;
  margin-top: 8%;
}

.product-details h1 {
  font-size: 1.5em;
  margin-left: 0.5%;
 
}

.product-details h3 {
  font-size: 1em;
  margin-right: 80%;
  background-color:#fbf9ed ;
  margin-top: 0.5%;
  margin-left: 0.5%;
  
}
.tabsbtn-properties  {
  padding: 10px;
  margin-right: 5px;
  list-style: none;
  background-color: #fbf9ed; /* Αλλάξτε το χρώμα ανάλογα με την προτίμησή σας */
  cursor: pointer;
  /* Εδώ μπορείς να προσθέσεις περισσότερο στυλ αν θέλεις */
}

/* Στυλ για το ενεργό tab */


/* Στυλ για τα κείμενα */
.oils-introduction-card p {
  text-align: justify; /* Για πλήρη στοίχιση κειμένου */
  margin-bottom: 15px;
   /* Προσθέστε κάποιο margin ανάμεσα στις παραγράφους */
}

.oils-introduction-card .ant-tabs-nav-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ant-tabs-nav {
    margin: 0;
    padding: 16px;
    
    border:none;
}


.ant-tabs-tab:hover {
    background-color: #e6f7ff; /* Ανοιχτό μπλε background στο hover */
}

/* Στυλ για τα εικονίδια μέσα στα Tabs */
.ant-tabs-tab i {
    margin-right: 8px; /* Προσθήκη απόστασης ανάμεσα στο εικονίδιο και το κείμενο */
}

/* Προσαρμογή του περιεχομένου των TabPanels */
.ant-tabs-content-holder {
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-top: none; /* Αφαίρεση του πάνω border για ομαλή συνέχεια με τα tabs */
    background-color: white;
    border: none;
 
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important; /* Μαύρο χρώμα για το ενεργό tab */
}
.ant-tabs-ink-bar {
  background-color: black !important;
  border: none;

}

/* Προαιρετικά, μπορείτε να αλλάξετε το χρώμα του υπόλοιπου κειμένου των tabs για να εξασφαλίσετε καλύτερη αντίθεση */
.ant-tabs-tab .ant-tabs-tab-btn {
  color: grey; /* Ανοιχτότερο χρώμα για τα μη ενεργά tabs */
}


.how-to-use-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 10%;
  width: 1300px;
  height: 90%;

}

.how-to-use-container .ant-tabs-nav-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.how-to-use-content {
  flex: 1;
  margin-right: 20px;
  
}

.h3{
  font-size: 1.3em;
  margin-left: 0.5%;
  font-weight:bold;
 margin-bottom: 2%;

}

.image-container {
  width: 100%; /* Ορίζουμε το πλάτος του container σε 100% */
  margin: 0; /* Εξασφαλίζουμε ότι δεν υπάρχουν περιθώρια */
  overflow: hidden; /* Εξασφαλίζουμε ότι δεν υπάρχει κανένα μέρος της εικόνας που να υπερχειλίζει */
  margin-bottom: 5%;
 
}

.image-container img {
  width: 100%; /* Κάνουμε την εικόνα να πιάνει 100% του πλάτους του container της */
  height: auto; /* Προσαρμόζουμε το ύψος της εικόνας ανάλογα για να διατηρηθούν οι αναλογίες της */
}


 

.card {
  grid-row: 3; 
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%; 
  margin-top: -40px;
}

.card-content {
  padding: 30px;
  
}


.oils-introduction-card{
  margin-right: 20%;
}

.faq-container-section{
  margin-top: 5%;
 
}

.faq-container {
  width: 1300px; /* ή ό,τι διάσταση προτιμάτε */
  margin: auto;
  padding: 2rem;
  background: #fbf9ed !important; /* ή ό,τι χρώμα φόντου προτιμάτε */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-container h2 {
  font-size: 1.5rem;
  color: #333; /* ή ό,τι χρώμα προτιμάτε */
  margin-bottom: 1rem;
}

.faq-container p {
  color: #666; /* ή ό,τι χρώμα προτιμάτε */
  margin-bottom: 2rem;
}

.faq-container .ant-collapse {
  background: none;
  border: none;
}

.faq-container .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 1rem 1.5rem;
  background: #fff; /* ή ό,τι χρώμα προτιμάτε */
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  font-size: 1rem;
  color: #333; /* ή ό,τι χρώμα προτιμάτε */
  box-shadow: 0 2px 3px #f0f1f2;

}

.faq-container .ant-collapse > .ant-collapse-item {
  margin-bottom: 1rem;
}

.faq-container .ant-collapse > .ant-collapse-item:last-child {
  margin-bottom: 0;
}

.faq-container button {
  border: none;
  outline: none;
  background-color: black; /* ή ό,τι χρώμα προτιμάτε */
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.faq-container button:hover {
  background-color: #333; /* ή ό,τι χρώμα προτιμάτε */
}

.ingredients-section{
  margin-right: 50%;
  border-radius: 10px;
  
  
}

.ingredients-tabs-container {
  background: #FFFBE6;
  padding: 2rem;
  border-radius: 10px;

  width: 1300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  border: none;

}

.ingredients-tabs-container .ant-card {
  background: transparent;
  border: none;

}

.ingredients-header {
  text-align: center;
  margin-bottom: 30px;
}

.ingredients-header h2 {
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.ingredients-header p {
  color: #555;
  font-size: 16px;
  
}

.ant-tabs-card .ant-tabs-content {
  margin-top: -16px;
  border: none;
}

.ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px #0000000f;
 
}

.ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane p {
  text-align: justify;
  text-justify: inter-word; /* Για πιο ομοιογενή κατανομή των λέξεων */
  margin-bottom: 1rem; /* Προσθέτει απόσταση στο κάτω μέρος των παραγράφων */
}

.ant-tabs-tab {
  border: none;
  background: #FFFBE6 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #333;
  font-weight: 600;
}

.ant-tabs-tab:hover {
  border-color: #e8e8e8;
}

.ant-tabs-tab, .ant-tabs-tab-active, .ant-tabs-tab-disabled {
  background: transparent !important;
}

.ant-tabs-tab-btn {
  display: flex;
  align-items: center;
}

.ant-tabs-tab-btn .anticon {
  color: #FFD700; /* Gold color for the Plus icon */
  font-size: 16px;
  margin-right: 8px;
}



@media (max-width: 768px) {
  .product-container {
    grid-template-columns: 1fr;
  }

  .product-container .carousel img {
    width: 100%;
    height: 550px;  
    object-fit: cover;  
    object-position: center;  
  }

  .product-carousel, .how-to-use-container {
    margin: 0;
    width: 100%;
  }
.carousel-root {
  width: 100%;
  margin-top: 5%;
}

.product-description{
  
  text-align:start;
  padding: 0 5px;
  
  
}


  .product-details {
    width: 100%;
    margin-top: 8%;
    padding-left: 2%;
  }

  .product-details h1 {
    font-size: 1.5em;
    margin-right: 50%;
  }

  .product-details h3 {
    font-size: 1em;
    margin-right: 75%;
    background-color:#fbf9ed ;
    margin-top: 0.5%;
  
  }
 
  

  .product-price {
    font-size: 1.2em;
    margin-left: 40%;
  }

  .add-to-cart-button {
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .how-to-use-container {
    flex-direction: row; /* Αλλαγή από column σε row */
    flex: 1;
    padding: 10px;
    margin-left: 0;
    width: 100%; /* Αλλαγή από 50% σε 100% */
   height: auto;
   display: block;
  }

  .how-to-use-content, .image-container {
    flex: 1;
    width: 100%;
  }
 .h3 {
    margin-bottom: 7%;
    margin-top: 5%;
  }

  .how-to-use-container{
    margin-bottom: 5%;
    display: block;
  }

  .image-container img {
    margin-left: 0;
  }

  .card {
    margin-left: 0;
    width: 100%;
    margin-bottom: 5px;
  }
  .how-to-use-container .ant-tabs-content-holder {
    margin-top: -10%;
   
   
  }

  .ant-tabs-nav {
    padding: 8px;
}

.ant-tabs-tab {
    padding: 8px; /* Μικρότερο padding για τα tabs σε μικρότερες συσκευές */
}


.faq-container-section{
  margin-top: 5%;
 
}

.faq-container {
  
  width: 100%; /* ή ό,τι διάσταση προτιμάτε */
  margin: auto;
  padding: 2rem;
  background: #fbf9ed !important; /* ή ό,τι χρώμα φόντου προτιμάτε */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ingredients-section{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 0%;

}

.ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane p {
  text-align: left; /* ή 'justify', αν προτιμάτε συνεχή στοίχιση */
  font-size: 0.9em; /* Μικρότερο μέγεθος γραμματοσειράς */
  padding: 0 10px; /* Προσθήκη εσοχής στα δεξιά και αριστερά */
}

.ingredients-tabs-container {
  
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.ingredients-header h2 {
  font-size: 20px;
}

.ingredients-header p {
  font-size: 14px;
}

}

