/* Στυλ για τους τίτλους */
h2 {
  color: #333; /* Ροζ χρώμα για τους τίτλους */
  font-size: 24px; /* Μέγεθος γραμματοσειράς */
  font-weight: bold; /* Ένταση γραμματοσειράς */
  margin-bottom: 10px; /* Απόσταση από τα κάτω */
}

/* Στυλ για τις επικεφαλίδες παραγράφων */
h3 {
  color: #333; /* Μαύρο χρώμα για τις επικεφαλίδες παραγράφων */
  font-size: 18px; /* Μέγεθος γραμματοσειράς */
  font-weight: bold; /* Ένταση γραμματοσειράς */
  margin-bottom: 5px; /* Απόσταση από τα κάτω */
}

/* Στυλ για το κείμενο */
p {
  color: #666; /* Γκρι χρώμα για το κείμενο */
  font-size: 16px; /* Μέγεθος γραμματοσειράς */
  line-height: 1.6; /* Μεγέθυνση γραμματοσειράς */
  margin-bottom: 15px; /* Απόσταση από τα κάτω */
}

/* Στυλ για τις λίστες */
ul {
  color: #666; /* Γκρι χρώμα για το κείμενο */
  font-size: 16px; /* Μέγεθος γραμματοσειράς */
  line-height: 1.6; /* Μεγέθυνση γραμματοσειράς */
  margin-bottom: 15px; /* Απόσταση από τα κάτω */
  margin-left: 20px; /* Αριστερό περιθώριο */
}

/* Στυλ για τα list items */
li {
  margin-bottom: 5px; /* Απόσταση από τα κάτω */
}